Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@Gleb-13 
Learn Git and GitHub without any code!
Using the Hello World guide, you’ll start a branch, write comments, and open a pull request.


facebook
/
react
6.8k
159k31.5k
Code
Issues
491
Pull requests
130
Actions
Projects
Wiki
Security
Insights
react/.gitignore
@taneliang
taneliang Import React Concurrent Mode Profiler (#19634)
…
Latest commit 2bea3fb on 20 Aug
 History
 19 contributors
@bvaughn@subtleGradient@zpao@acdlite@gaearon@DarkScorpion@yungsters@aickin@trueadm@elas7@kartikcho@jdalton
38 lines (37 sloc)  891 Bytes
  
.DS_STORE
node_modules
scripts/flow/*/.flowconfig
.flowconfig
*~
*.pyc
.grunt
_SpecRunner.html
__benchmarks__
build/
remote-repo/
coverage/
.module-cache
fixtures/dom/public/react-dom.js
fixtures/dom/public/react.js
test/the-files-to-test.generated.js
*.log*
chrome-user-data
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
*.swp
*.swo

packages/react-devtools-core/dist
packages/react-devtools-extensions/chrome/build
packages/react-devtools-extensions/chrome/*.crx
packages/react-devtools-extensions/chrome/*.pem
packages/react-devtools-extensions/firefox/build
packages/react-devtools-extensions/firefox/*.xpi
packages/react-devtools-extensions/firefox/*.pem
packages/react-devtools-extensions/shared/build
packages/react-devtools-extensions/.tempUserDataDir
packages/react-devtools-inline/dist
packages/react-devtools-shell/dist
packages/react-devtools-scheduling-profiler/dist
© 2020 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
