.temp_precipitation{
    display: flex;
    align-items: center;
}

.location{
    font-size: 30px;
    margin-bottom:20px;
}

.celsius,.active{
    margin: 0 10px 10px 0;
    padding: 7px 10px;
    border-radius: 20px;
    border: none;
    background-color: #E9EFF7;
    cursor: pointer;
    outline:none;
    font-size: 20px;
    transition:color .3s,
    background-color .3s;
}

.celsius:hover,.active{
    background-color: #84CD1B;
    color: white;
}

.temp{
    font-size: 40px;
}

.item{
    padding: 5px;
    margin-left: 20px;
    font-size: 20px;
}