.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.button{
    background-color: transparent;
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
    margin: 8px;
}