.listOfTips{
    border: 2px solid black;
    background-color: bisque;
    border-radius: 5px;
    width: 20%;
    position: absolute;
    z-index: 999;
}

.itemList{
    border-bottom: 1px solid black;
    transition:color .3s,
    background-color .3s;
    
}

.itemList:hover,.itemList:focus{
    background-color: black;
    color: white;
}

.linkItem{
    text-decoration: none;
    color: black;
}

.s{
    color: brown;
}