.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.item {
    text-align: center;
    font-weight: 700;
    border-radius: 20px;
    background-color: #E9EFF7;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.item_link{
    text-decoration: none;
    color:black;
}