.gleb_select{
  width: 300px;
  margin: auto;
  background-color: black;
  color: white;
}

.gleb_select_header{
  cursor: pointer;
  border: 3px solid #6AB7EE;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.gleb_options{
  border: 3px solid #6AB7EE;
}

.gleb_option{
  transition:color .3s,
  background-color .3s;
  padding: 5px;
  cursor: pointer;
}

.gleb_option:hover{
  background-color: white;
  color: black;
}